<!-- this fixes the formatting so that the new form look better-->
<div id="page_wrapper">
	<!-- heading for new posts -->
	<h1>New Posts</h1>
	<!-- this will grab the partial for us -->
	<%= render 'form' %>
</div>